# dependencies
node_modules/

# next.js
.next/

# env
.env

# logs
npm-debug.log*
yarn-debug.log*

# mac
.DS_Store

# heavy files
*.zip
*.tar
*.gz
*.mp4
*.mov
*.pdf

# build / cache
.next/
node_modules/